@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Arvind Store, Dumka</h1>
    <p class="lead">Aprajita Retails Daily Store Management Software.</p>
    <p><a href="https://www.thearvindstore.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sale Record</h2>
        <p>
            Your Sale Record will be Displayed here.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tailoring</h2>
        <p>Your Tailoring Data will be Displayed Here.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Accounting</h2>
        <p>All Accounting Data will be displayed here.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>