@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    The Arvind Store, Dumka
    Bhagalpur Road, Dumka<br />
    Near TATA Showroom. Dumka, Jharkhand 814101<br />
    <abbr title="Phone">P:</abbr>
   06434-224461
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:thearvindstoredumka@gmail.com">thearvindstoredumka@gmail.com</a><br />
    <strong>Admin:</strong> <a href="mailto:amitnarayansah@gmail.com">amitnarayansah@gmail.com</a><br />
    <strong>Locate Us: </strong><a href="https://www.thearvindstore.com/store-locator/">Click to Visit</a><br />
</address>