@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Aprajita Retails</h1>
    <p class="lead">The Arvind Store, Dumka.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg btn-rounded">Visit The Arvind Store  &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Fabrics</h2>
        <p>
           Arvind Mills produces lots of fabric and we sell Internationall fabric also.
                   </p>
        <p><a class="btn btn-secondary btn-rounded" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Readymade</h2>
        <p>Many brand we have USPA, FM Arrow, True Blue.</p>
        <p><a class="btn btn-secondary btn-rounded" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Custom Tailoring</h2>
        <p>Custom tailoring is very usefull people want body fit cloths.</p>
        <p><a class="btn btn-secondary btn-rounded" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>